
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  width: 100%;
}
.inputbox {
  border: 3px solid;
  border-radius: 13px;
  height: 35px;
  width: 255px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;

}
.lab{
    font-size: 32px;
}

.submit{
    height: 50px;
    width: 200px;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 30px;
}
.bigBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
min-width:800px;
min-height: 300px;
  border: 3px solid black;
}
.divcontainer{
  display: flex;
margin-top: 100px;
justify-content: center;}